.email-index{
    display: grid;
    grid-template-rows:auto 1fr;
    grid-template-columns:minmax(100px, 1fr) 2fr;
    grid-template-areas:
    "a h"
    "a m";
                    
    height: 100%;
    width: 100%;
    gap: 6px;
    
}
.header{
grid-area: h;
}
.aside{
grid-area: a;
}
.main{
    grid-area: m;
}
.aside-logo{
    grid-area: al;
}

@media screen and (max-width: 768px) {
    .email-index {
      grid-template-columns: 400px;
      overflow:visible;
      grid-template-areas:
        "a"
        "h"
        "m"; 
    }
  
    .aside-logo,
    .header,
    .main {
     
      grid-area: unset;
      width: 100%;
    }
    /* .aside{
        position: absolute;
        margin-top: 20vh;
    } */
  }