.email-Compose-form {
  width: 450px;
  height: 550px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: fixed;
  right: 100px;
  bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 60px 60px 60px 60px 1fr;
}

.email-Compose-form h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-compose {
  margin-inline: 10px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  color: gray;
 

}

.form-compose label {
  display: block;
  margin-bottom: 5px;
  margin-inline-end: 10px;
}

input[type="email"],
input[type="text"],
.form-compose  {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1rem;
}
.form-compose textarea {
  height: 100%;
  width: 95%;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

.email-Compose-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 20px;
  justify-self: start;
  bottom: 0;
  left: 0; 
}

.email-Compose-form button:hover {
  background-color: #0056b3;
}
.header-compose{
  padding-inline: 10px;
  padding-block: 15px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e5f3f5;;
}
.header-icon{
  width: 15px;
  height: 15px;
  font-size: 30px;
  font-weight: bold;
  padding: 2px;
  color: gray;
}
.arrow-header-open{
  width: 15px;
  height: 15px;
  font-size: 30px;
  font-weight: bold;
  margin-inline: 5px;
  color: gray;
}
.header-compose-icons{
  
  display: flex;
  align-items: center;
}
.arrow-header-underline{
  width: 15px;
  height: 30px;
  padding-top: 10px;
  font-size: 60px;
  font-weight: bold;
  margin-inline: 5px;
  color: gray;
}