.container {
    
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(246,248,252,255);
    
}


.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}