.email-sidebar{
    background-color: #ffffff;
    
}

.sidebar {
   width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar-item {
    display: grid;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    padding-block: 10px;
    padding-inline: 10px;
    grid-auto-flow: column;
    cursor: pointer;
  }
  
  .sidebar-item .FontAwesomeIcon {
    margin-right: 10px;
    color: #5a5a5a;
  }
  .sidebar-item input {
    background: none;
    border: none;
    outline: none; 
    cursor: pointer;
    font: inherit;
  }
.sidebar-item:hover {
    background-color: #bdedf4; 
  }
  .clicked{
    background-color: #bdedf4;
  }
  .slide-in {
    transform: translateX(0); /* Start position */
    transition: transform 0.3s ease-in-out;
  }
  
  .slide-out {
    transform: translateX(-100%);
  }

  @media screen and (max-width: 768px) {
    .email-sidebar{
 
      height: 100%;
      width: 250px ;
      background-color: #ffffff;
      padding: 10px;
      position: absolute;
      margin-top: 20vh;
     
  }

 
  }