.email-preview {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  grid-template-columns: 30px 30px auto; 
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
}
.unread {
  font-weight: bold;
}

.email-preview .sender {
  padding: 10px;
  flex-grow: 1;
}

.email-preview .subject {
  color: white;
}
.email-preview:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.star-icon {
  font-size: 15px;
  cursor: pointer;
  color: rgb(54, 50, 50); 
  margin-inline: 5px;
}

.star-icon.active {
  color: rgb(254, 254, 13); 
}
.main-mail {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  grid-auto-flow: column;
  grid-gap: 50px;
  padding: 10px;

}
