.email-sidebar{
    width: 250px ;
    background-color: #ffffff;
    padding: 10px;
}

.sidebar {
   width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar-item {
    display: grid;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    padding-block: 10px;
    padding-inline: 4px;
    grid-auto-flow: column;
    cursor: pointer;
  }
  
  .sidebar-item .FontAwesomeIcon {
    margin-right: 10px;
    color: #5a5a5a;
  }
  .sidebar-item input {
    background: none;
    border: none;
    outline: none; 
    cursor: pointer;
    font: inherit;
  }
  /* Hover effect */
.sidebar-item:hover {
    background-color: #bdedf4; /* Change the background color on hover */
  }
  .clicked{
    background-color: #bdedf4;
  }

  @media screen and (max-width: 768px) {
    .email-sidebar{
      width: 250px ;
      background-color: #ffffff;
      padding: 10px;
      position: absolute;
      margin-top: 20vh;
  }
 
  }