.logo{
   
    display: grid;
    grid-auto-flow:column;
    justify-content: start;
    align-items: center;
    padding: 1em;
    padding-left: 2em;
    color: rgb(65, 65, 65);
    min-width: 200px;
    
}
.menu-icon{
    cursor: pointer;
    font-size: 20px;
}
.img-logo{
    height: 25px;
    margin-inline: 20px;
}